<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen">
    <style type="text/css">
        .m15{ margin: 15px;}
        .tc{ text-align: center;font-size: 18px;font-weight: 600;}
    </style>
</head>
<body class="">
<div class="container-fluid">
    <div class="row-fluid">
        <form class="col-sm-offset-4 col-sm-4 form-horizontal" id="tab" action="/register" method="post">
            <fieldset>
                <legend></legend>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="tc">注册信息</p>
                    </div>
                    <div class="panel-body m15">
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                            </span>
                                <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                            </span>
                                <input type="text" class="form-control" id="password" name="password" placeholder="请输入密码" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                            </span>
                                <input type="text" class="form-control" id="password1" name="password1" placeholder="请再次输入密码" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" id="register1">注册</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="btn-toolbar">
            <a href="/login">
                <button class="btn btn-primary"><i class="icon-plus"></i> 登录</button>
            </a>
            <div class="btn-group">
            </div>
        </div>
    </div>
</div>
</body>
</head>
</html>